body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	top:  0;
	left:  0;
}
.button {
	padding:  10px;
	border-radius: 4px;
	cursor:  pointer;
}
input {
	width:  300px;
	margin-top:  20px;
	display:  block;
}


h3 {
	font-size: 24px;
	font-weight: 600;
}

.response {
	width:  100%;
}

.menu {
	width: 160px;
}
.button {
	display: inline-block;
	padding:  5px;
	margin-right: 10px;
	border-radius:  5px;
	border: 1px solid #333333;
	cursor:  pointer;
}

.row {
	display: flex;
}

.managersRow {
	margin: 0 -10px;
	cursor:  pointer;
}

.managersRowItem {
	width: 150px;
}


.managersRowItemName {
	width: 200px;
}
.managersRowItemRecords, .managersRowItemSumm, .managersRowItemStars, .managersRowItemCheckbox {
	width: 50px;
}

.managersRowItem {
	margin: 10px;
	padding-left: 20px;
	
}

.managersRow:hover {
	background: wheat;
	
}
.managersRow#managerHead {
	cursor: default;
}
.managersRow#managerHead:hover {
	background: white;
}


input.managerCheckbox {
	width:  unset;
	margin-top:  0;
}

.menuItemImg {
	width: 20px;
	height: 20px;
	margin-right: 10px;
}

.img {
	position: relative;
}

.img img {
	position: absolute;
	height: 100%;
	width: 100%;
}
.menuItem {
	align-items: center;
	padding:  10px;
}
.menuItemText {
	font-size: 20px;
	line-height: 20px;
}

.menuItemActive {
	cursor:  default;
	background: #aaaaaa;
}

.menuItem:hover {
	cursor:  pointer;
	background: wheat;
}

.menuItemActive.menuItem:hover {
	cursor:  default;
	background: #aaaaaa;
}

.block {
	display: none;
}


.blockActive {
	display: block;
}

.buttonManagersAdd {
	margin:  30px 0;
	color:  white;
	background: #58cde5;
	font-weight: 600;
}
.managersInner {
	padding:  40px 20px 0 20px;
}

.popup {
	background: rgba(0, 0, 0, 0.15);
	width: 100%;
	min-height: 100%;
	height: auto;
	position: absolute;
	display: none;
	top: 0;
	left: 0;
}

.popupInner {
	padding:  20px;
	background: white;
	width: 600px;
	margin:  40px auto 0 auto;
	position: relative;
}

.popupHeader {

}

.popupArea {
	margin-top:  30px;
}

.managersItem, .managersAddItem {
	padding: 10px;
	cursor: default;
}

.managersAddItem:hover, .managersItem:hover {
	background: #eee;
}

.popupClose {
	width: 25px;
	height: 25px;
	position: absolute;
	top:  20px;
	right:  20px;
	left:  auto;
	cursor: pointer;
}

.popupButtons {
	display:  none;
	justify-content: flex-end;
}

.managersButtons {
	margin-top:  30px;
}

.managersAddItem.itemActive {
	display: block;
	background: #27a847;
}

.managersItem.itemActive {
	display: block;
	background: #FF0D00;
}

.managersAddItem:hover {
	background: #27a847;
}

.managersItem:hover {
	background: #FF0D00;
}

.calendarHeadRowItem {
	width: 26px;
	height: 52px;
	text-align: center;
}
.calendarRowItem {
	width: 26px;
	height: 26px;
	border: 1px solid black;
	box-sizing: border-box;
}

.calendarRowItemName, .calendarHeadRowItemName {
	text-align: left;
	line-height: 26px;
	width: 220px;
	border: none;
}

.calendarInner {
	padding:  20px;
}
.selectedDay {
	background: #B40097;
}


.calendarStations {
	margin-top:  30px;
}

.calendarRowItemNameStations {
	width: 300px;
}

.calendarRowStations {
	margin:  5px 0;
}

.selectedStation {
	outline: 3px solid #54026E;
}


.calendarMenu  {
	justify-content: space-evenly;
	margin-top:  30px;
}

.calendarButtons {
	visibility: hidden;
}

.managersButtons {
	display: none;
}

.calendarRowItemStationsStar {
	position: relative;
}


.calendarRowItemStationsStar:after {
	content:  '';
	position: absolute;
	top:  0;
	left:  0;
	width: 100%;
	height: 100%;
	background: url('../img/star.svg');
	background-size: contain;
}