body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	top:  0;
	left:  0;
}
.button {
	padding:  10px;
	border-radius: 4px;
	cursor:  pointer;
}
input {
	width:  300px;
	margin-top:  20px;
	display:  block;
}

.response {
	width:  100%;
}

.menu {
	width: 160px;
}
.button {
	display: inline-block;
	padding:  5px;
	margin-right: 10px;
	border-radius:  5px;
	border: 1px solid #333333;
	cursor:  pointer;
}

.row {
	display: flex;
}

.managersRow {
	margin: 0 -10px;
	cursor:  pointer;
}

.managersRowItemName {
	width: 200px;
}
.managersRowItemRecords, .managersRowItemSumm, .managersRowItemStars, .managersRowItemCheckbox {
	width: 50px;
}

.managersRowItem {
	margin: 10px;
	padding-left: 20px;
	
}

.managersRow:hover {
	background: wheat;
	
}
.managersRow#managerHead {
	cursor: default;
}
.managersRow#managerHead:hover {
	background: white;
}


input.managerCheckbox {
	width:  unset;
	margin-top:  0;
}

.menuItemImg {
	width: 20px;
	height: 20px;
	margin-right: 10px;
}

.img {
	position: relative;
}

.img img {
	position: absolute;
	height: 100%;
	width: 100%;
}
.menuItem {
	align-items: center;
	padding:  10px;
}
.menuItemText {
	font-size: 20px;
	line-height: 20px;
}

.menuItemActive {
	cursor:  default;
	background: #aaaaaa;
}

.menuItem:hover {
	cursor:  pointer;
	background: wheat;
}

.menuItemActive.menuItem:hover {
	cursor:  default;
	background: #aaaaaa;
}

.block {
	display: none;
}


.blockActive {
	display: block;
}

.buttonManagersAdd {
	margin-top:  30px;
	color:  white;
	background: #58cde5;
	font-weight: 600;
}
.managersInner {
	padding:  40px 20px 0 20px;
}

.popup {

	width: 100%;
	height: 100%;
	position: absolute;
	display: none;
	top: 0;
	left: 0;
}

.popupInner {
	width: 600px;
	margin:  auto;
}